apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: shop-db-pvc
  namespace: shop
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 1Gi
