pm_api_url      = "https://<IP_PROXMOX>:8006/"
pm_token_id     = "terraform@pve!tf"
pm_token_secret = "<YOUR_SECRET>"

node_name      = "<YOUR_NODE_NAME>"
template_vm_id = <YOUR_TEMPLATE_ID>

# Run: cat ~/.ssh/k3s_ed25519.pub
ssh_pubkey = "ssh-ed25519 AAAA...."
ci_user    = "<YOUR_USERNAME>"

gateway   = "<YOUR_GATEWAY_IP>"
server_ip = "<SERVER_IP>/24"
agent_ips = ["<AGENT1_IP>/24", "<AGENT2_IP>/24"]
